<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width ,initial-scale=1">
    <link rel="stylesheet" href="/static/bs/css/bootstrap.min.css">
</head>


<div class="panel panel-primary col-md-8 col-md-offset-2 " style="margin-top: 100px">
    <div class="panel-heading">
        <h3 class="panel-title">目录</h3>
    </div>
    <h3> <a href="/stark/app01/book/">书籍操作</a></h3>
    <h3><a href="/stark/app01/author/">作者操作</a></h3>
    <h3><a href="/stark/app01/publish/">出版社操作</a></h3>

</div>

<body>
<script src="/static/js/jquery-3.2.1.min.js"></script>
<script src="/static/bs/js/bootstrap.min.js"></script>

</body>
</html>