<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width ,initial-scale=1">
    <link rel="stylesheet" href="/static/bs/css/bootstrap.min.css">
</head>
<body>



<script src="/static/js/jquery-3.2.1.min.js"></script>
<script src="/static/bs/js/bootstrap.min.js"></script>

<script>


window.opener.pop_response('{{ res.pk }}',"{{ res.text }}",'{{ res.pop_res_id }}');
window.close()
</script>

</body>
</html>